.sign-up-container {
    width: 40%;
    padding: 0;
    display: flex;
    margin: auto;
}
form {
    background: #f6f2f2;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 480px;
}

h1 {
    text-align: center;
    color: #5a4428;
    font-size: 2.5vw;
    margin-bottom: 2.5vh;
}

h2 {
    font-weight: bold;
    margin: auto;
    color: #4e3e2a;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 90%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

.btn-reg {
    width: auto;
    display: inline-block;
    padding: 12px;
    background: #7b613a;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: center;

}

.btn-reg:hover {
    background: #5a4019;
}

label {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 0.5vw;
    color: #4e3e2a;
}


.radio-group, .checkbox-group {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 12px 0;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: normal;
}

.log-link {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
}

.log-link a {
    color: #7b613a;
    text-decoration: none;
    font-weight: bold;
}

.log-link a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    margin: 10px 0;
    font-size: 14px;
}


@media (max-width: 600px) {
    form {
        padding: 25px;
    }

    input[type="submit"] {
        display: flex;
        font-size: 15px;
    }
}