
/* General Styles */
body {
    font-family: 'Bookman', sans-serif;
    margin: 0;
    padding: 0;
    width: 98.9vw;
    background-color: #f4f4f4;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

main {
    flex: 1;
}
.navbar {
    width: 94.5vw;
    height: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c0ab8c;
    padding: 2.2vw;
    color: white;
}

.logo {
    font-size: 2.4vw;
    font-weight: bold;
    margin-left: 25px;
    background: linear-gradient(90deg, #695749, #584432);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: logoEffect 3s linear infinite;
    transition: 0.3s;
}

@keyframes logoEffect {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.logo:hover {
    text-shadow: 0 0 10px #a38c6c;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    padding: 1vw 0;
}

.navbar ul a {
    text-decoration: none;
    color: #5a4019;
    font-size: 1.2vw;
    padding: 1vw;
    display: flex;
    align-items: center;
    background-color: #c0ab8c;
    transition: 0.3s;
    border-radius: 1vw;
    font-weight: bold;
    margin: 0 1vw;
}

.navbar ul a:hover {
    background: #7b613a;
    color: #edddc1;
}

#cv {
    position: relative;
}
#cv .dropdown {
    position: absolute;
    width: 100%;
    height: 60%;
    display: none;
    flex-direction: column;
    padding: 0;
    margin-top: 0;
}
#cv:hover .dropdown {
    display: block;
}
#cv:hover .dropdown li {
    margin-top: 0;
    background-color: #c0ab8c;
    box-shadow: 4px 4px 10px 0px #333;
}
#cv li {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    margin: 0;
}

#cv li a {
    width: 300%;
    height: 60%;
}



/* Mobile Navigation */
.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.navbar ul li {
    display: inline-block;
    position: relative;
}




/* Responsive Design */
@media screen and (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        background: #222;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .navbar ul:hover {
        display: flex;
    }

    .menu-toggle {
        display: block;
        height: 60%;
        aspect-ratio: 1/1;
    }
}


/* Footer */
html{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer-container {
    width: 80%;
    margin: auto;
}

.footer-logo {
    font-size: 22px;
    font-weight: bold;
    background: linear-gradient(90deg, #a38c6c, #816b4b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: logoEffect 3s linear infinite;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 15px 0;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #a38c6c;
}

.footer-socials {
    margin: 15px 0;
}

.footer-socials a {
    color: white;
    font-size: 20px;
    margin: 0 10px;
    transition: 0.3s;
    text-decoration: none;
    padding-inline: 10px;
}

.footer-socials a:hover {
    color: #a38c6c;
}

.footer-text {
    font-size: 12px;
    margin-top: 15px;
    opacity: 0.7;
}

/* Responsive Footer */
@media screen and (max-width: 768px) {
    .footer-links {
        flex-direction: column;
        gap: 10px;
    }

    .footer-socials a {
        font-size: 18px;
        margin: 5px;
    }
}



/* Home page */

.home {
    background: #c0ab8c;
    color: white;
    padding: 5vw 0;
    text-align: center;
}

.home .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 120px;
}

.home h1 {
    font-size: 48px;
    color: #3d1f06;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    animation: autoEffect 3s linear infinite;
}


.home p {
    font-size: 24px;
    margin-bottom: 40px;
}

.home .btn {
    background: #695749;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background 0.3s;
}

.home .btn:hover {
    background: #584432;
}

.features {
    padding: 60px 0;
    text-align: center;
}

.features .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.features h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.feature-row {
    flex-wrap: nowrap;
    align-items: center;
}

.feature-item {
    margin-top: 3%;
    width: 500px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: transform 0.3s;
    background-color: white;
}

.feature-item i {
    font-size: 48px;
    color: #c0ab8c;
    margin-bottom: 20px;
}

.feature-item h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.feature-item p {
    font-size: 16px;
    color: #666;
}

.feature-item:hover {
    transform: translateY(-10px);
}


/* Templates Section */
.templates {
    padding: 140px 0;
    text-align: center;
}

.templates .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.templates h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.templates p {
    font-size: 18px;
    margin-bottom: 40px;
}

.template-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.template-item {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 400px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.template-item img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    align-items: center;
}

.template-item .btn {
    background: #695749;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s;
}

.template-item .btn:hover {
    background: #584432;
}

.template-item:hover {
    transform: translateY(-10px);
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer-container {
    width: 80%;
    margin: auto;
}

.footer-logo {
    font-size: 22px;
    font-weight: bold;
    background: linear-gradient(90deg, #f8b400, #ff4d4d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: logoEffect 3s linear infinite;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 15px 0;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #f8b400;
}

.footer-socials {
    margin: 10px 0;
}

.footer-socials a {
    color: white;
    font-size: 20px;
    margin: 0 10px;
    transition: 0.3s;
}

.footer-socials a:hover {
    color: #f8b400;
}

.footer-text {
    font-size: 12px;
    margin-top: 15px;
    opacity: 0.7;
}

/* Responsive Footer */
@media screen and (max-width: 768px) {
    .footer-links {
        flex-direction: column;
        gap: 10px;
    }

    .footer-socials a {
        font-size: 18px;
        margin: 5px;
    }
}

/* contact Page */


.contact {
    padding: 100px 0;
    text-align: center;
}
.contact-container {
    width: 80%;
    margin: auto;
}

.contact-container h1 {
    color: #3d1f06;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}

/* Styling for paragraph text */
.contact-container p {
    color: #8e6529;
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}

/* Styling for contact box container */
.contact-box {
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    width: 40%;
    margin: auto;
    backdrop-filter: blur(50px);
    box-shadow: 1px 1px 5px #987f6f;
}

/* Styling for heading inside left container */
.contact-container h3 {
    font-size: 30px;
    color: #353535;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #695749, #44301e);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: titleEffect 3s linear infinite;
}

@keyframes titleEffect {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}



/* Styling for input fields */
input {
    width: 95%;
    border: none;
    color: #353535;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
} 

/* Styling for textareas */
textarea {
    font-family: "Bookman", sans-serif;
    font-size: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

/* Styling for labels */
label {
    margin-bottom: 10px;
    margin-top: 25px;
    font-size: 18px;
    font-weight: 600;
    display: block;
    color: #353535;
    text-align: left;
    margin-left: 8px;
}

/* Styling for buttons */
button {
    font-weight: 600;
    font-size: 15px;
    background: #80604a;
    border: none;
    color: #fff;
    height: 40px;
    border-radius: 5px;
    margin-top: 25px;
    transition: all 0.25s ease 0s;
    box-shadow: 0px 5px 10px 0px #0000003a;
    margin-bottom: 20px;
}

/* Hover styling for buttons */
button:hover {
    color: #fff;
    background: hsl(29, 77%, 24%);
    box-shadow: 0px 5px 10px 0px hsla(207, 97%, 35%, 0.2);
}

/*(laptop) */
@media only screen and (min-width: 1367px) {
    .contact-container {
        width: 70%;
    }

    .contact-container h1 {
        font-size: 50px;
    }

    .contact-container p {
        font-size: 25px;
    }

    .input-row .input-group {
        flex-basis: 48%;
    }

    button {
        width: 30%;
    }
}

/* Laptop */
@media only screen and (max-width: 1366px) {
    .contact-container {
        width: 70%;
    }

    .contact-container h1 {
        font-size: 45px;
    }

    .contact-container p {
        font-size: 22px;
    }

    input {
        width: 90%;
    }

    .input-row .input-group {
        flex-basis: 48%;
    }

    button {
        width: 60%;
    }
}

/* Tablet */
@media only screen and (max-width: 1024px) {

    .contact-box {
        flex-direction: column;
    }

    .contact-container {
        width: 80%;
    }

    .contact-container h1 {
        font-size: 40px;
    }

    .contact-container p {
        font-size: 22px;
    }

    .input-row {
        flex-wrap: wrap;
    }

    .input-row .input-group {
        flex-basis: 100%;
        margin-bottom: 15px;
    }

    button {
        width: 25%;
    }
}

/*  (mobile) */
@media only screen and (max-width: 767px) {
    .contact-container {
        width: 90%;
    }

    .contact-container h1 {
        font-size: 40px;
    }

    .contact-container p {
        font-size: 18px;
    }

    .input-row {
        flex-direction: column; /* Stack input rows vertically */
    }

    .input-row .input-group {
        flex-basis: 100%;
        margin-bottom: 15px;
    }

    input,
    textarea {
        padding: 8px;
    }

    button {
        width: 60%;
    }

}